@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgrey;
}

header{
    background-color: dimgray;

}
header > h1{
    text-align: center;
    padding: 10px;

}
i#burguer{
    background-color: rgb(36, 32, 32);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burguer:hover {
    background-color: white;
    color: black;
}
menu {
    display: none;
}
menu > ul{
    list-style-type: none;
}
menu a {
    display: block;
    padding: 10px;
    background-color: rgb(88, 75, 75);
    text-decoration: none;
    color: white;
    border-top: 2px solid grey;
    text-align: center;
} 
menu a:hover{
    background-color: lightgray;
    color: rgb(56, 49, 49);
}

main{
    width: 90vw;
    margin: auto;
    background-color: white;
    text-align: justify;
    text-indent: 30px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
article h2{
    padding: 10px;
    text-align: center;
}
article p{
    padding: 10px;
}